/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Para apilar header, main y footer */
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: left; /* Alinear el texto a la izquierda */
    width: 100%;
  }
  
  /* Contenedor principal */
  #info-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las columnas */
    padding: 2rem;
  }
  
  /* Estilo de las columnas */
  #summary-column, #images-column {
    flex: 1; /* Cada columna ocupa el mismo espacio */
    margin: 0 1rem; /* Margen entre columnas */
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del carrusel */
  #images-carousel img {
    width: 100%; /* Imagen ocupa el ancho del carrusel */
    border-radius: 8px; /* Esquinas redondeadas */
  }
  
  /* Estilos para encabezados */
  h1, h2 {
    margin-bottom: 1rem;
  }
  
  /* Estilo del pie de página */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
  }
  